.appHeader {
  background-color: #f9f0e3;
  background-image: url("/resources/app-header-background-spacious-v4-matched.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
